



section {
    padding: 50px 0;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

#quiz-levels {
    display: none; /* Hide initially */
}

#quiz-levels.show {
    display: block; /* Show when category is clicked */
}

#doneButton {
    display: none;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 20px;
    background-color: #4CAF50; /* Green background color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#doneButton.show {
    display: block;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 20px;
    background-color: #4CAF50; /* Green background color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.loginsignup {
    position: relative;
}

.user-buttons {
    display: flex;
    align-items: center;
    margin-left: 840px;/* Align to the right */
}

.user-buttons button {
    margin-right: 10px; /* Add some spacing between buttons */
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-style: dotted;
}
