<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-x-Login</title>
    <link rel="icon" href="../static/logoo.png">
    <link rel="stylesheet" href="../static/geto.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Link to the CSS file -->
</head>
<body>
    <form id="login-form" method="POST" action="/login">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button type="submit">Log In</button>
        <button> 
            <a href="/register" class="signup">Sign Up</a>
        </button>
        <div class="social">
            <div class="go">join as guest</div>
        </div>
    </form>
    <nav class="nav">
        <input id="menu" type="checkbox">
        <label for="menu">Snow</label>
        <ul class="menu">
            <li>
                <a class="clear-snow" href="#0">
                    <i aria-hidden="true">clear</i>
                </a>
            </li>
            <li>
                <a class="delete-snow" href="#0">
                    <i aria-hidden="true">delete</i>
                </a>
            </li>
            <li>
                <a class="add-snow" href="#0">
                    <i aria-hidden="true">add</i>
                </a>
            </li>
        </ul>
        </nav>
    <div class="snow"></div>
    <div class="snow"></div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include custom JavaScript -->
    <script src="{{ url_for('static', filename='../static/scripts/particles.js') }}"></script>
</body>
</html>