<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-x-Register</title>
    <link rel="icon" href="../static/logoo.png">
    <link rel="stylesheet" href="../static/registerstyle.css">
</head>
<body>
    <form id="register-form" method="POST" action="/register">
        <h3>Register Here</h3>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/"><button>Login</button></a></p>
    </form>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include custom JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>