<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime x Quiz - {{ title }}</title>
    <link rel="icon" href="../static/images/logoo.png">
    <!-- <link rel="stylesheet" href="../static/styles/headerstyle.css"> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../static/styles/postsstyel.css">
    <link rel="stylesheet" href="../static/styles/profilestyle.css">
    <link rel="stylesheet" href="../static/styles/alertmsg.css">
    <link rel="stylesheet" href="../static/styles/quizpage.css">
    <link rel="stylesheet" href="../static/styles/leaderboard.css">
    <link rel="stylesheet" href="../static/styles/question.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/createquiz.css">

</head>
<body>
    <div class="container">
        <nav class="head">
            <img src="../static/images/logo.png" alt="Your Logo" class="logopage" type="button">
            <ul>
                <li><a href="{{ url_for('about') }}">Home</a></li>
                <li>|</li>
                <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
                <li>|</li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            </ul>
           
            {% if current_user.is_authenticated %}
            <button class="btn"><a href="{{ url_for('account') }}"><img src="{{ image_file }}" alt="Profile Picture">{{ current_user.username }}</a></button>
            <!-- <button class="btn"><a href="{{ url_for('logout_page') }}">lOGOUT</a></button> -->
            {% else %}
                <button class="btn"><a href="{{ url_for('Login_page') }}">Login</a></button>
                <button class="btn"> <a href="{{ url_for('register_page') }}">Sign-Up</a></button>
            {% endif %}
        </nav>
        <div class="gradient-controls-container">
            <nav class="gradient-controls">
                <input type="range" min="140" max="230" value="90" id="degRange">
                <input type="color" id="colorPicker">
                <input type="range" min="0" max="50" value="71" id="percentageRange">
            </nav>
        </div>
        <div class="blockcntn">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}" role="alert">
                {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <img src="../static/images/luffyrain.png" alt="background" class="background-img">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/editprofile.js"></script>
    <script src="../static/scripts/theme.js"></script>
</body>
{% if title == 'Home' %}
<footer class="{{ title }}">
    <div class="footer-bottom">
        <div class="footer-content">
            <img src="../static/images/logo.png" alt="Anime Quiz Logo" class="footer-logo">
            <div class="newsletter">
                <p>Stay up to date on features and releases by joining our newsletter.</p>
                <input type="email" placeholder="Your email address" class="email-input">
                <button type="submit" class="subscribe-btn">Subscribe</button>
                <p class="privacy-policy">By subscribing, you agree to our Privacy Policy and consent to receive updates from our company.</p>
            </div>
            <div class="social-media">
                <p>Follow us</p>
                <a href="#" class="social-link">Facebook</a>
                <a href="#" class="social-link">Instagram</a>
                <a href="#" class="social-link">LinkedIn</a>
                <a href="#" class="social-link">Youtube</a>
            </div>
            <p>&copy; 2024 Anime x Quiz. Enjoy.</p>
            <button id="colorControlsButton" class="btn theme-btn" type="button">Theme</button>
        </div>
    </div>
</footer>
{% endif %}
</html>
