<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Anime x Quiz - {{ title }}</title>
        <link rel="icon" href="{{ url_for('static', filename='images/logoo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/font.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/layoutstyel.css') }}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/profilestyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/quizpage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/leaderboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/question.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/createquiz.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/quiz-results.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/scrollanimation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/alert.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/alert.css') }}">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

    </head>
<body>
    <div class="container">
        <nav class="head">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Your Logo" class="logopage" type="button">
            <ul>
                <li><a href="{{ url_for('about') }}">Home</a></li>
                <li>|</li>
                <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
                <li>|</li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            </ul>
           
            {% if current_user.is_authenticated %}
            <button class="btn"><a href="{{ url_for('account') }}"><img src="{{ image_file }}" alt="Profile Picture">{{ current_user.username }}</a></button>
            {% else %}
                <button class="btn"><a href="{{ url_for('Login_page') }}">Login</a></button>
                <button class="btn"> <a href="{{ url_for('register_page') }}">Sign-Up</a></button>
            {% endif %}
        </nav>
        <div class="gradient-controls-container">
            <nav class="gradient-controls">
                <input type="range" min="140" max="230" value="90" id="degRange">
                <input type="color" id="colorPicker">
                <input type="range" min="0" max="50" value="71" id="percentageRange">
                <select id="imageSelect">
                    <option value="anime1">Anime 1</option>
                    <option value="anime2">Anime 2</option>
                    <option value="anime3">Anime 3</option>
                </select>
            </nav>
        </div>
        <div class="blockcntn">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="center">
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }} color" role="alert">
                    {% if category == 'success' %}
                    <div class="check">
                        <i class="far fa-check-circle color"></i> &nbsp; &nbsp;
                        <span>{{ message }}</span>
                    </div>
                    {% elif category == 'info' %}
                    <div class="info">
                        <i class="fa fa-info-circle spin"></i> &nbsp; &nbsp;
                        <span>{{ message }}</span>
                    </div>
                    {% elif category == 'warning' %}
                    <div class="warning">
                        <i class="fa fa-exclamation-triangle rotate"></i> &nbsp; &nbsp;
                        <span>{{ message }}</span>
                    </div>
                    {% elif category == 'danger' %}
                    <div class="danger">
                        <i class="far fa-times-circle shine"></i> &nbsp; &nbsp;
                        <span>{{ message }}</span>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/scrollanimation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/editprofile.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/notification.js') }}"></script>
    <img src="{{ url_for('static', filename='images/gojo33.png') }}" alt="background" class="background-img">
</body>
{% if title == 'Home' %}
<footer class="footer">
    
<div class="footercontainer">
    <div class="footer__columns">
        <div class="footer__col">
            <h3 class="footer__col-title">
            <i data-feather="shopping-bag"></i> <span>MENU</span></h3>
            <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                <a href="{{ url_for('about') }}" class="footer__nav-link">
                    LANDING PAGE
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{ url_for('quiz') }}" class="footer__nav-link">
                    Quizzes
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="/Create_Quiz" class="footer__nav-link">
                    Create Quizzes
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{ url_for('leaderboard') }}" class="footer__nav-link">
                    Leaderboard
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="{{ url_for('account') }}" class="footer__nav-link">
                    Edit Your Profile
                </a>
                </li>
            </ul>
            </nav>
        </div>
        <div class="footer__col">
            <h3 class="footer__col-title">
            <i data-feather="share-2"></i> <span>Follow us</span></h3>
            <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                <a href="" class="footer__nav-link">
                    <i data-feather="youtube"></i><span>Youtube</span>
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="" class="footer__nav-link">
                    <i data-feather="facebook"></i><span>Facebook</span>
                    
                </a>
                </li>
                <li class="footer__nav-item">
                <a href="" class="footer__nav-link">
                    <i data-feather="instagram"></i><span>Instagram</span>
                    
                </a>
                </li>
            </ul>
            </nav>
        </div>
        <div class="footer__col">
            <h3 class="footer__col-title">
            <i data-feather="send"></i> <span>Contact</span></h3>
            <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                <a href="mailto:contact.imalexvssteve2020@gmail.com" class="footer__nav-link">
                    imalexvssteve2020@gmail.com
                </a>
                <li class="footer__nav-item">
                    <a href="mailto:loubna.alfidi@gmail.com" class="footer__nav-link">
                        loubna.alfidi@gmail.com
                    </a>
                </li>
            </ul>
            </nav>
        </div>
        </div>
        <div class="footer__copyrights">
            <p>&copy; 2024 Anime x Quiz. Enjoy.</p>
            <button id="colorControlsButton" class="btn theme-btn" type="button">Theme</button>
        </div>
    </div>
</footer>
{% else %}
    <footer class="footercontainer">
        <div class="footer__columns">
            <div class="footer__copyrights">
                <p>&copy; 2024 Anime x Quiz. Enjoy.</p>
                <button id="colorControlsButton" class="btn theme-btn" type="button">Theme</button>
            </div>
        </div>
    </footer>
{% endif %}
</html>
