<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime x Quiz - {{ title }}</title>
    <link rel="icon" href="../static/images/logoo.png">
    <link rel="stylesheet" href="../static/styles/headerstyle.css">
    <link rel="stylesheet" href="../static/styles/postsstyel.css">
    <link rel="stylesheet" href="../static/styles/profilestyle.css">
    <link rel="stylesheet" href="../static/styles/alertmsg.css">

</head>
<body>
    <header>
        <div class="container">
            <h1>Anime x Quiz</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('about') }}">Home</a></li>
                    <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
                    <div class="loginsignup">
                        <nav class="user-buttons">
                            <div class="user-button">
                                {% if current_user.is_authenticated %}
                                <button class="login"><a href="{{ url_for('logout_page') }}">lOGOUT</a></button>
                                <p>{{ current_user.username }}</p>
                                <p style="color: red;">Score: {{ total_score }}</p>
                                <li><a href="{{ url_for('account') }}">Profile</a></li>
                                {% else %}
                                    <button class="login"><a href="{{ url_for('Login_page') }}">Login</a></button>
                                    <button class="signup"> <a href="{{ url_for('register_page') }}">Sign Up</a></button>
                                {% endif %}
                            </div>
                        </nav>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}" role="alert">
                {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/scripts.js"></script>
    <script src="../static/scripts/editprofile.js"></script>
    {% include "footer.html" %}
</body>
</html>
