<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-x-Login</title>
    <link rel="icon" href="../static/images/logoo.png">
    <link rel="stylesheet" href="../static/images/geto.png">
    <link rel="stylesheet" href="../static/styles/snow.css" type="text/css" href="{{ url_for('static', filename='snow.css') }}">
    <link rel="stylesheet" href="../static/styles/loginstyle.css">
    <link rel="stylesheet" href="../static/styles/alertmsg.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}" role="alert">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="login-form"  method="POST" action="">
        <h3>Login Here</h3>
        {{ form.hidden_tag() }}
        <label for="Email">Email</label>
        {{ form.email(class="form-control", placeholder="Email") }}
        {% if form.email.errors %}
        <div class="errors">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <!-- <input type="text" placeholder="Email" id="username" name="Email"> -->
        <label for="password">Password</label>
        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.password.errors %}
        <div class="errors">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <!-- <input type="password" placeholder="Password" id="password" name="password"> -->
        <label id="rememberme" class="remember-me">
            Remember me
            {{ form.rememberme(class="remember-me") }}
        </label>
        {{ form.submit(class="btn btn-primary btn-block", value="Login") }}
        <!-- <button type="submit">Log In</button> -->
        <button id="signup" type="submit"> <a href="/register"> Sign Up</button>
        <div class="social">
            <div class="go">
                <small><a href="/main">Join as a guest</a></small>
            </div>
        </div>
        <small><a href="#">Forget password?</a></small>
    </form>
    <nav class="nav">
        <input id="menu" type="checkbox">
        <label for="menu">Snow</label>
        <ul class="menu">
            <li>
                <a class="clear-snow" href="#0">
                    <i aria-hidden="true">clear</i>
                </a>
            </li>
            <li>
                <a class="delete-snow" href="#0">
                    <i aria-hidden="true">delete</i>
                </a>
            </li>
            <li>
                <a class="add-snow" href="#0">
                    <i aria-hidden="true">add</i>
                </a>
            </li>
        </ul>
        </nav>
    <div class="snow"></div>
    <div class="snow"></div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include custom JavaScript -->
    <script src="../static/scripts/particles.js"></script>
</body>
</html>