{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <section id="post-form">
            <button>
                <h2>Create a New Post</h2>
            </button>
        </section>
        
        <section id="posts">
            {% for post in posts%}
                <div class="post">
                    <div class="post-header">
                        <h6>posted by:</h6>
                        <h3>{{ post.author }}:</h3>
                    </div>
                    <div class="post-content">
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="post-date">
                        <h5> at {{ post.date_posted }}</h5>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}