{% extends "layout.html" %}
{% block content %}
<h1>{{ quiz.title }}</h1>
<p>Number of question: {{ num_questions }}</p>
<p>Category: {{ quiz.category }}</p>
<p>Level: {{ quiz.level }}</p>
<hr>
<form method="POST" action="{{ url_for('quiz_questions', quiz_id=quiz.id) }}">
    {% for question in questions %}
    <div class="question">
        <h3>{{ question.question_text }}</h3>
        {% if quiz.category == 'image' and question.image_path %}
        <img src="{{ question.image_path }}" alt="Question Image">
        {% endif %}
        {% if quiz.category == 'sound' and question.sound_path %}
        <audio controls>
            <source src="{{ question.sound_path }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}
        <ul>
            {% for option in question.options %}
            <li><input type="radio" name="question{{ question.id }}" value="{{ option.id }}"> {{ option.text }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <button type="submit">Submit Answers</button>
</form>
{% endblock %}