{% extends "layout.html" %}
{% block content %}
<nav>
  <div class="quizpage">
    <p class="logo1">
      <span class="anime">A N I M E</span>
      <span class="x"> X </span>
      <span class="quiz">Q U I Z</span>
    </p>
    <p class="text">
      <span class="word1">Prepare</span>
      <span class="word2">FOR</span>
      <span class="word3">The</span>
      <span class="word4">Ultimate</span>
      <span class="word5">Challenge</span>
    </p>
  </div>
</nav>
<div>
  <a href="/Create_Quiz">create new Quiz</a>
</div>
<div class="quizzes-column">
  <h2>Last Added Quiz</h2>
  <div class="last-quiz" style="background-image: url('{{ last_quiz_image_path }}');">
    <a href="{{ url_for('quiz_questions', quiz_id=quizzes[-1].id) }}">{{ quizzes[-1].title }}</a>
  </div>

  <h2>Other Quizzes</h2>
  <div class="other-quizzes">
    {% for quiz, image_path in quizzes_with_images %}
      <div class="boxed-link" style="background-image: url('{{ image_path }}');">
        <a href="{{ url_for('quiz_questions', quiz_id=quiz.id) }}">{{ quiz.title }}</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
