{% extends "layout.html" %}
{% block content %}
<div class="container2">
  <div class="content-wrapper">
    <div class="leaderboard-column">
      <h2>Leaderboard</h2>
      <div class="first-place">
        {% for user_id, (username, score) in leaderboard_data.items() %}
          {% if loop.first %}
            <div class="first-place-user">
              <p class="rank">1</p>
              <img src="{{ get_profile_picture(user_id) }}" alt="Profile Picture" class="profile-pic">
              <p class="username">{{ username }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% set rank = namespace(value=1) %}
          {% for user_id, (username, score) in leaderboard_data.items() %}
            {% if rank.value < 6 %}
            <tr>
              <td>{{ rank.value }}</td>
              {% set rank.value = rank.value + 1 %}
              <td><a href="{{ url_for('user_profile', user_id=user_id) }}">{{ username }}</a></td>
              <td>{{ score }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
