{% extends "index.html" %}
{% block content %}
<div class="leaderboard-container">
  <div class="top-three">
    <!-- Manually place top 3 based on sorted data -->
    <!-- Second place -->
    <div class="user-entry top-user-2">
      <img src="{{ get_profile_picture(leaderboard_data[1][0]) }}" alt="{{ leaderboard_data[1][1] }}" class="profile-pic">
      <div class="username"><a href="{{ url_for('user_profile', user_id=leaderboard_data[1][0]) }}">{{ leaderboard_data[1][1] }}</a></div>
      <div class="user-info">
        <div class="score">{{ leaderboard_data[1][2] }}</div>
      </div>
    </div>
    <!-- First place - highest score -->
    <div class="user-entry top-user-1">
      <img src="{{ get_profile_picture(leaderboard_data[0][0]) }}" alt="{{ leaderboard_data[0][1] }}" class="profile-pic">
      <div class="username"><a herf="{{ url_for('user_profile', user_id=leaderboard_data[0][0]) }}">{{ leaderboard_data[0][1] }}</a></div>
      <div class="user-info">
        <div class="score">{{ leaderboard_data[0][2] }}</div>
      </div>
    </div>
    <!-- Third place -->
    <div class="user-entry top-user-3">
      <img src="{{ get_profile_picture(leaderboard_data[2][0]) }}" alt="{{ leaderboard_data[2][1] }}" class="profile-pic">
      <div class="username"><a href="{{ url_for('user_profile', user_id=leaderboard_data[2][0]) }}">{{ leaderboard_data[2][1] }}</a></div>
      <div class="user-info">
        <div class="score">{{ leaderboard_data[2][2] }}</div>
      </div>
    </div>
  </div>
  <!-- Remaining users -->
  <div class="remaining-users">
    {% for user_id, username, score in leaderboard_data[3:] %}
      <div class="user-entry">
        <img src="{{ get_profile_picture(user_id) }}" alt="{{ username }}" class="profile-pic">
        <div class="usersuser-info">
          <div class="usersusername"><a href="{{ url_for('user_profile', user_id=user_id) }}">{{ username }}</a></div>
          <span class="score-separator"></span>
          <div class="usersscore">{{ score }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}