{% extends "layout.html" %}
{% block content %}
    <section id="quiz-categories">
        <div class="container">
            <h2>Choose a Quiz Category</h2>
            <ul>
                <li><a href="#" class="category" data-category="anime-qst">answer anime question</a></li>
                <li><a href="#" class="category" data-category="anime-openings">Know anime from picture</a></li>
                <li><a href="#" class="category" data-category="anime-Voice">Know Characters from Voice</a></li>
                <li><a href="#" class="category" data-category="anime-emojis">know anime from emojis</a></li>
                <li><a href="#" class="category" data-category="anime-weapon">know Characters from weapon</a></li>
                <li><a href="#" class="category" data-category="anime-face">know Characters from face</a></li>
            </ul>
        </div>
    </section>
    <section id="quiz-levels">
        <div class="container">
            <h2 id="quiz-category-heading">Choose a Quiz Level</h2>
            <ul>
                <li><a href="#" class="level" data-level="ez">Easy</a></li>
                <li><a href="#" class="level" data-level="normal">Normal</a></li>
                <li><a href="#" class="level" data-level="hard">Hard</a></li>
            </ul>
        </div>
    </section>
    <button id="doneButton">
        <h3>DONE</h3>
    </button>
{% endblock %}