<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime-x-Register</title>
    <link rel="icon" href="../static/images/logoo.png">
    <link rel="stylesheet" href="../static/styles/registerstyle.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}" role="alert">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form id="register-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <img id="skunaa" class="skunaa" src="../static/images/skunaalog.png">
        <legend><h3>Register Here</h3></legend>
        <label>Username</label>
        {{ form.username(class="form-control", placeholder="Username") }}
        {% if form.username.errors %}
        <div class="errors">
            {% for error in form.username.errors %}
            <span class="errormessag">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <label>Email</label>
        {{ form.email(class="form-control", placeholder="Email") }}
        {% if form.email.errors %}
        <div class="errors">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <label>Password</label>
        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.password.errors %}
        <div class="errors">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <label>Confirm Password</label>
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        {% if form.confirm_password.errors %}
        <div class="errors">
            {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {{ form.submit(class="btn btn-primary", value="Register") }}
        <p style="margin-top: 50px; margin-left: 40px;">Already have an account? <a style="color: rgb(255, 0, 0);" href="/login">Login</a></p>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/scripts.js"></script>
</body>
</html>