/* Styling for flashed messages */
.flash-messages {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 9999; /* Ensure it appears above other elements */
}
    
    .flash-message {
        position: relative;
        opacity: 0;
        animation: fadeInOut 5.5s ease forwards;
        margin-bottom: 10px;
    }
    
    @keyframes fadeInOut {
        0% {
        opacity: 0;
        transform: translateY(10px);
        }
        50% {
        opacity: 1;
        transform: translateY(0);
        }
        100% {
        opacity: 0;
        transform: translateY(-10px);
        }
    }
    
    .flash-message.alert-success {
        background-color: #4CAF50; /* Green */
    }
    
    .flash-message.alert-danger {
        background-color: #f44336; /* Red */
    }
    
    .flash-message.alert-warning {
        background-color: #ff9800; /* Orange */
    }
    
    .flash-message.alert-info {
        background-color: #2196F3; /* Blue */
    }
    
    .flash-message button.close {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        padding: 0;
        line-height: 1;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }