/* Enhanced general styling for the create quiz form */
.createform {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid #303030;
    border-radius: 20px; /* Rounded corners */
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.form-input, .form-select, .question-input, .option-input, .correct-option-select {
    border-radius: 4px;
}

.form-input, .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-section {
    flex-basis: 60%;
    font-family: 'inter', serif;
    padding: 10px 20px;
    border: 2px solid #303030;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}


.form-section > label {
    font-size: 20px;
    color: #ffffff; /* Using the accent color */
    font-weight: bold;
    margin-bottom: 10px;
    display: block; /* Ensure it's on its own line */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Change values as needed */
}

.form-image {
    flex-basis: 35%;
    background-image: url('YOUR_IMAGE_URL_HERE');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 300px; /* Adjust based on your preference */
}

/* Additional styling for labels and the submit button */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.question-label {
    font-size: 18px;
    color: #640000; /* A color that stands out but is less intense than the title label */
    margin-bottom: 10px;
    font-weight: normal; /* Less emphasis compared to the title */
}

.question-input,
.correct-option-select {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

.question-input:focus,
.correct-option-select:focus {
    border-color: #0056b3;
    outline: none;
}

.option-input {
    background-color: #fff; /* Light background to stand out from the form */
    border: 2px solid #ddd; /* Subtle border */
    color: #333; /* Standard text color for readability */
    margin-bottom: 5px; /* Tighter grouping with its question */
    padding: 8px; /* Adequate padding for tap targets on mobile */
}

.option-input:hover,
.option-input:focus {
    border-color: #251804; /* Accent color for focus and hover */
}

.options-container {
    margin-bottom: 20px;
}

.correct-option-select {
    display: block;
    background-color: #f8f8f8;
}

.createform {
    border-radius: 10px; /* Matches site's theme */
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.createform input[type="submit"] {
    margin-top: 20px;
}

/* Hover and focus effects for inputs and selects */
.question-input:hover, .option-input:hover, .correct-option-select:hover,
.question-input:focus, .option-input:focus, .correct-option-select:focus {
    border-color: #0056b3;
}

/* Styling adjustments for labels and file input */
.createform label,
.createform input[type="file"] {
    display: block;
    margin-top: 20px;
}

.createform input[type="file"] {
    background-color: #dadadac2;
    padding: 10px;
    border-radius: 8px;
}

/* Submit button enhancements */
.createform input[type="submit"] {
    display: inline-block;
    background-color: #181818; /* Accent color */
    color: #ffffff; /* Text color */
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Clash Display', serif;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    background-image: linear-gradient(45deg, transparent 50%, #ffffff 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

@keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }
  }

/* .createform input[type="submit"] {
    animation: pulse 2s infinite;
} */

.createform input[type="submit"]:hover { 
    transform: translateY(-2px);
    color: #000000;
    background-position: 100%;
    background-color: #ffffff; /* Change background color on hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    animation: pulse 2s infinite;
}

