@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");


footer {
  z-index: 99999;
  background-color: #000000;
  color: #fff; /* Ensure text is fully opaque white */
  font-family:  'inter', serif;
  border-top: 1px solid #ffffff; /* Use hexadecimal color for semi-transparent border */
}

.footercontainercontainer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.footer {
  position: relative;
  padding: 0.5rem 0;
  color: #fff;
  background: #000000;
  margin-top: auto;
}

.footer__columns {
  display: flex;
  justify-content: space-around;
}

.footer__col-title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.footer__col-title * ~ span {
  margin-left: 1rem;
}

.footer a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.footer a * ~ span {
  margin-left: 1rem;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__copyrights {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
}

.footer__copyrights p a {
  margin-left: 0.5rem;
}

@keyframes parralax {
  0% {
    background-position: 260px;
  }
  100% {
    background-position: -10000vw;
  }
}

@keyframes moto {
  0% {
    transform: translateY(0) rotate(0);
  }
  5% {
    transform: translateY(0) rotate(-5deg);
  }
  25% {
    transform: translateY(60px) rotate(-20deg);
  }
  49% {
    transform: translateY(0) rotate(-1deg);
  }
  51% {
    transform: translateY(0) rotate(1deg);
  }
  75% {
    transform: translateY(60px) rotate(20deg);
  }
  80% {
    transform: translateY(60px) rotate(0deg);
  }
  98% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes voiture {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.footer__parralax {
  position: absolute;
  left: 0;
  top: -300px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.footer__parralax-premierplan {
  background-position: 260px;
}

.footer__parralax-trees,
.footer__parralax-premierplan,
.footer__parralax-secondplan {
  position: absolute;
  inset: 0;
  background-repeat: repeat-x;
  background-position-y: 100% !important;
  animation-duration: 600s;
  animation-iteration-count: infinite;
}

.footer__parralax-moto {
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -250px;
  height: 200px;
  width: 150px;
  background: url(https://i.ibb.co/JCGfFJd/moto-net.gif) no-repeat;
  transform-origin: 50% 80%;
  animation: moto 5s linear infinite;
}

.footer__parralax-voiture {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: 250px;
  height: 114px;
  width: 206px;
  background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif) no-repeat;
  animation: voiture 1s linear infinite;
}

.footer__parralax-trees {
  background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
  bottom: -60px;
}

.footer__parralax-premierplan {
  background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
}

.footer__parralax-secondplan {
  background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
}


.footer__nav-list a {
  display: flex;
  align-items: center;
  color: #9b9b9b;
  text-decoration: none;
	font-weight: 700;
  position: relative;
}


.footer__nav-list a:hover {
  bottom: 0;
  height: 100%;
  color: rgb(255, 255, 255);
}