/* mhm ta tkmlih gadit pfp cus kbira bzf kat5rbkni */

.user-button img {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border-radius: 50%;
    object-fit: cover; /* Resize the image to cover the container */
    margin-bottom: 10px;
}
