*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/geto.png");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
    z-index: -1;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    filter: blur(5px);
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(44, 32, 32, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(24, 21, 21, 0.678);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.btn-block {
    margin-top: 5px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.btn-block:hover {
    background-color: #ffffff; /* Change background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow on hover */
}

button {
    margin-top: 5px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
}

button a {
    text-decoration: none;
    color: #080710;
}

button:hover {
    background-color: #ffffff; /* Change background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add box shadow on hover */
}

.signup {
    color: #ffffff;
    margin-top: 5px; /* Adjust spacing between buttons */

}

.social {
    margin-bottom: 1px;
    margin-left: 200px;
    display: flex;
}


.social div {
    text-decoration: none;
    width: 150px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    color: #eaf0fb;
    margin-bottom: 1px;
    
}

.social div:hover {
    color: rgb(10, 10, 10);
}

.snowrain button {
    margin: 0; /* Remove default margin from buttons */
}

.snowrain {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    right: 20px;
    margin-top: 50px;
    margin-bottom: 340px;
}

.snowrain button {
    display: block;
    margin-bottom: 10px;  /* Adjust the space between buttons */
    background-color: #0a0055c4;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px; /* Adjust the padding to change button size */
    font-size: 16px;   /* Adjust the font size */
    cursor: pointer;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    transition: background-color 0.3s ease;
}

.snowrain button:hover {
    background-color: #ffffff;
    color: #080710;
}

.nav {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    margin: 300px auto 0;
}
  
.nav [type="checkbox"] {
    position: absolute;
    left: -9999px;
}
  
.nav [type="checkbox"] + label {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.925));
    cursor: pointer;
    z-index: 1;
    background: rgba(130, 155, 192, 0.986);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.nav [type="checkbox"] + label:hover {
    background: rgb(247, 247, 247);
    box-shadow: #080710 0 0 10px;
    filter: opacity(1);
}   

.menu li {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    list-style-position: none;
    transition: all 0.3s;
}
  
.menu li:nth-child(1) {
    transition-delay: 0.2s;
}
  
.menu li:nth-child(2) {
    transition-delay: 0.15s;
}
  
.menu li:nth-child(3) {
    transition-delay: 0.1s;
}
  
.menu li:nth-child(4) {
    transition-delay: 0.05s;
}

.menu li a {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(106, 166, 177);
}
  
.menu li a button {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 5px));
    width: 100%;
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: black;
    font-weight: bold;
}

.nav input:checked + label {
    background: rgb(148, 219, 236);
    list-style-image: none;
    transform: translateY(calc(-50% + 4px));
}
  
.nav input:checked ~ .menu li:nth-child(1) {
    top: -120px;
    transition-delay: 0.1s;
}
  
.nav input:checked ~ .menu li:nth-child(2) {
    top: -180px;
    transition-delay: 0.2s;
}
  
.nav input:checked ~ .menu li:nth-child(3) {
    top: -240px;
    transition-delay: 0.3s;
}
  
.nav input:checked ~ .menu li:nth-child(4) {
    top: -110px;
    transition-delay: 0.4s;
}
  
nav input:checked ~ .menu li a button {
    opacity: 1;
    transition-delay: 0.9s;
}

.remember-me {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-top: 1px;
    margin-bottom: 5px; /* Adjust margin-bottom to create space between password input and remember label */
    color: #f8fcecee;
    font-size: 14px;
    cursor: pointer;
    font-weight: 300;
}

/* Adjust checkbox style */
.remember-me input[type="checkbox"] {
    margin-right: 6px; /* Adjust margin to create space between checkbox and text */
    width: 15px; /* Set the width of the checkbox */
    margin-top: 10px;
    margin-left: 3px;
    height: 15px; /* Set the height of the checkbox */
}

#rememberme:hover {
    color: #f02400; /* Change text color on hover */
}

/* Change style on hover for checkbox */
#rememberme input[type="checkbox"]:hover {
    color: #080710; /* Change color on hover */
}
