/* Import the Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container for content */
 
.container {
    width: 100%; /* Adjusted to ensure responsiveness */
    max-height: 100%;
    background: rgb(2,0,36);
    /* background: radial-gradient(at top, rgba(158, 50, 0, 0.76) 0%, rgba(0, 0, 0, 0.589) 60%, rgb(0, 0, 0) 100%); */
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(26, 114, 239, 0.819) 0%, rgba(0,0,0,1) 71%);
    background-size: cover;
    z-index: -26;
    overflow-y: auto;
    background-position: center;
    /* padding: 0.5px 2%; */
}

.gradient-controls-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 50;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gradient-controls-container.show {
    display: flex;
    z-index: 50;
}

.gradient-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 55;
}

.gradient-controls input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    z-index: 55;
    background: #d3d3d3;
    border-radius: 5px;
    margin: 0 10px;
    outline: none;
}

.gradient-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    z-index: 55;
    background: #43488f;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.gradient-controls input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    z-index: 55;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.gradient-controls input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    z-index: 55;
    background: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
#colorPicker {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    z-index: 55;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    z-index: 55;
}

#colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    z-index: 55;
    padding: 0;
}

@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Bold.otf') format('woff2'), /* Path to .woff2 file */
         url('../fonts/ClashDisplay-Regular.otf') format('woff'); /* Path to .woff file */
    /* Add additional font formats if available */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('woff2'),
         url('../fonts/Helvetica-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/InterVariable.ttf') format('woff2'),
         url('../fonts/InterVariable.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply Poppins font to the body */
/* body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/peakpx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ccc;
    min-height: 100vh; /* Ensure body extends to at least viewport height 
    display: flex;
    flex-direction: column;
} 
*/


/* Header styles */
.head {
    z-index: 555;
    font-family: 'Clash Display', sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5px 0px;
}

.logopage{
    width: 132px;
    cursor: pointer;
    margin-right: -50px;
}

.head img {
    z-index: 3;
}

.head ul {
    z-index: 3;
    list-style: none;
    width: 100%;
    padding: 0.5px 0px;
    text-align: center; /* Center the list items */
    /* margin-left: 10px; */
}

.head ul li {
    display: inline-block; /* Change to inline-block to allow margin and padding adjustments */
    margin: 10px 20px; /* Adjust margins between list items */
    color: #fff;
    cursor: default;
}

.head ul li a {
    color: #d3d3d3b9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.74);
    text-decoration: none;
    font-family: 'ClashDisplay', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for smoother color change, scaling, background color change, and shadow */
    padding: 5px 10px; /* Add padding for spacing */
    display: inline-block; /* Ensure inline-block display for smooth scaling */
}

.head ul li a:hover {
    color: #ffffff;
    transform: scale(1.1); /* Scale up to 1.1 times on hover */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  Add a subtle shadow on hover */
}

/* Footer styles */
footer {
    display: flex;
    color: #fff;
    padding: 60px;
    margin-top: auto;
    text-align: center;
    position: relative;
    /* background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(0, 0, 0, 0.819) 0%, rgba(0,0,0,1) 71%);
    background-size: cover;
    background-position: center; */
    left: 0;
    bottom: 0;
    width: 100%;
}


.footer{
    position: absolute;
    left: 50%;
    transform: translate(-40%, -70%);
}
footer button {
    position: absolute;
    left: 92%;
    transform: translate(-10%, -70%);
}
.btn {
    display: flex;
    align-items: center;
    padding: 3px 20px;
    border: 0;
    outline: 0;
    margin-right: 40px;
    border-radius: 70px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: #bbbbbb00;
    box-shadow: 0 0px 0px 0 rgba(27, 27, 27, 0.37);
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
    background-position: 25%;
    color: #d3d3d3;
    font-weight: 500;
    cursor: pointer;
    margin-left: 100px;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    z-index: 55;
}

.btn:first-child {
    margin-right: 10px; /* Adjust the space between the first button and the second button */
}


.btn:last-child {
    margin-left: 10px; /* Adjust the space between the second button and the first button */
}



.btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family:  'Helvetica', serif;
    color: inherit; /* Inherit text color from parent */
    white-space: nowrap; 
}

.btn img {
    object-fit: cover;
    border-radius: 50%; /* Make the image circular */
    width: 30px; /* Adjust the width of the image as needed */
    height: 30px; /* Adjust the height of the image as needed */
    margin-right: 15px; /* Add spacing between the image and the button text */
}

.btn:hover {
    color: #ffffff;
    background-position: 100%;
}

/* Post styles */
section {
    padding: 20px 0;
}
/* .head {
    display: flex;
    align-items: center;
} */

.logopage {
    margin-left: 40px; /* Adjust the left margin of the logo image */
    margin-right: 10px; /* Adjust the right margin of the logo image */
    z-index: 1;
}

/* Style the aside text */
.content{
    position: relative;
    margin-top: 8%;
    /* margin-left: 5%; */
    color: #fdfdfd;
    max-width: 100%;
    cursor: default;
}


.content h1{
    width: 100%;
    font-size: clamp(90px, 4vw, 110px);
    margin-bottom: 2px;
    line-height: 50px;
    font-weight: bold;
    line-height: 85px;
    font-family: 'Clash Display', sans-serif;
}


.content p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 2px;
    font-family:  'inter', serif;
}
.content-text {
    margin-left: 5%; /* Move the text container to the right */
}
/* img{

    height: 90px;
    width: auto;
    margin-right: 10px;
    margin-top: -10px;
    margin-left: -10px; } */

/* .backgroundimage {
    position: fixed;
    z-index: 1; /* Ensure the image stays behind the content 
    mix-blend-mode: overlay;
} */
.background-img {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire screen */
    mix-blend-mode: overlay;
}

.blockcntn {
    position: relative;
    z-index: 5;
    /* margin-bottom: 200px; */
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem; /* Adjusted padding */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px; /* Adjusted font size */
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
    background-position: 25%;
    color: #fff;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    backdrop-filter: blur(20px);
    backface-visibility: hidden;
    border: 0.02rem solid transparent;
    border-radius: 0.8rem; /* Adjusted border radius */
}

.bn37 {
    border-color: #fff; /* White border color */
    color: #ffffff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
    color: #ffffff;
    background-position: 100%;
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.btn2 {
    display: flex;
    align-items: center;
    padding: 3px 15px;
    border: 0;
    outline: 0;
    border-radius: 70px;
    background: #000000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-left: 1px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 55;
}

.rectangle-overlay {
    position: absolute;
    top: 1%;
    left: 0;
    margin-right: 100%;
    width: 100%; /* Cover the entire width of the page */
    height: 100%; /* Cover the entire height of the page */
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    z-index: -1; /* Ensure it's behind other content */
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any paddings */
}
.top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire width of the page */
    height: 10%; /* Adjust the height as needed */
    border-bottom: 1px solid rgb(153, 153, 153);
    z-index: 1; /* Ensure it's above other content */
}

body {
    --sb-track-color: #1b1b1b00;
    --sb-thumb-color: #1b1b1b;
    --sb-size: 10px;
}
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
}
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 9px;
    border: 1px solid #a1a1a100;
}
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 9px;
}
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
}