.quiz-results-container {
    text-align: center;
    color: #808080; /* Changed for better readability */
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(27, 27, 27, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.score-animation, .total-score {
    font-size: 28px; /* Slightly larger */
    margin: 20px 0;
    font-family: 'Arial', sans-serif; /* Example font */
    color: #f1f1f1; /* Darker color for contrast */
}

.details {
    margin-top: 30px;
}

.details h2 {
    margin-bottom: 20px; /* More space above details list */
}

.detail-item {
    display: none; /* Start hidden for fadeIn effect */
    text-align: left;
    margin-bottom: 15px;
    padding-left: 10px; /* Indent text slightly */
    font-family: 'Arial', sans-serif; /* Consistent font */
    color: antiquewhite;
}

.backhome a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d4d4d4; /* Button-like appearance */
    color: #5e0000;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
}

.backhome a:hover {
    background-color: #000000; /* Darker on hover */
    color: #eeff00;
}