
p , h2{
  color: beige;
}
.logo1{
  font-family: 'Another_America';
  font-size: 40px;
}
.quizpage img{
  width: 300px;
  height: 300px;
}

.quizpage {
  display: grid;
  place-items: center; /* Horizontally and vertically center */
}


.text {
  text-align: center;
  font-family: 'Clash Display', serif;
}

.text span {
  display: inline-block;
  margin: 0 5px;
}

.word1 {
  color: white;
}

.word2 {
  color: #640000;
  text-decoration: underline;
}

.word3 {
  color: white;
}

.word4 {
  color: #F4AC45;
}

.word5 {
  color: #F4AC45;
  font-size: 20px;
}

.anime , .quiz{
  color: white;
  font-size: 110px;

}

.x{
  color: black;
  font-weight: bold;
  font-size: 130px;
  text-shadow: 0 0 2px red, 0 0 4px red, 0 0 6px red, 0 0 8px red;

}

.quizzes-column {
  /* margin-bottom: 20px; */
  padding-bottom: 120px;
  text-align: center;
  margin-top: 20px;
}

.quizzes-column h2 {
  margin-bottom: 10px;
}


/* Last Added Quiz Styling */
.last-quiz {
  position: relative; /* Position relative for absolute child positioning */
  width: 800px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden; /* Hide overflow to respect border radius */
}

.last-quiz a {
  position: absolute; /* Absolute position to overlay on the image */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 28px; /* Increase font size for visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for readability */
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.last-quiz:hover a {
  opacity: 1; /* Show the title on hover */
}


.other-quizzes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust this to center if you want the quizzes to be centered when there are few */
  gap: 20px; /* This replaces the margin-left and ensures even spacing around items */
}

.boxed-link a {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 150px;
    border: 1px solid #999;
    border-top-left-radius: 10px;
    border-radius: 30px;
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover; /* This ensures that your background image covers the area, adjust as necessary */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.boxed-link:hover a {
  opacity: 1;
  animation: pulse 2s infinite;
}


.boxed-link {
  position: relative;
  width: 300px;
  height: 180px;
  line-height: 150px;
  background-color: #ccc;
  border: 1px solid #999;
  border-top-left-radius: 10px;
  border-radius: 30px;
  margin: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-size: cover; /* This ensures that your background image covers the area, adjust as necessary */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.boxed-link:hover {
  text-decoration: underline;
  flex-grow: 0.5;
  flex-basis: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1); 
}


.boxed-link a {
  display: block;
  text-decoration: none;
  font-family: 'Clash Display', serif;
  color: inherit;
}

.creator-name {
  position: absolute;
  bottom: 10px;
  color: #640000;
  left: 50%;
  top: 50%;
  transform: translateX(-90%);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.3s ease-in; /* Add transition for opacity */
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items in the container */
  gap: 10px; /* Optional: Adds space between items */
}

.boxed-link:hover .creator-name {
  opacity: 1; /* Fade in on hover */
  transition: opacity 1s ease-in-out;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#search-input {
  font-family: 'Clash Display', serif; /* Matching the font */
  font-size: 16px;
  padding: 10px 20px;
  width: 50%; /* Adjust based on preference */
  border: 2px solid #F4AC45; /* Accent color */
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  color: #640000; /* Text color */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for focus effect */
}

#search-input::placeholder {
  color: #640000; /* Placeholder text color */
}

#search-input:focus {
  outline: none;
  border-color: #640000; /* Focus color */
  background-color: white; /* Solid background on focus */
  box-shadow: 0 0 8px rgba(0,0,0,0.3); /* Enhanced shadow for focus */
}

.search-result-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  overflow: hidden; /* Ensure content does not overflow the bounds */
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.search-result-item:hover {
  transform: scale(1.1); /* Scale up the item */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Optionally enhance the shadow for depth */
}

.search-result-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.search-result-item:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.create-quiz-button {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  width: 100%; /* Take full width to allow centering */
  margin: 20px 0; /* Add some margin around the button */
}

.create-quiz-button a {
  display: inline-block;
  background-color: #F4AC45; /* Accent color */
  color: #640000; /* Text color */
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Clash Display', serif;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  background-image: linear-gradient(45deg, transparent 50%, #ffe9ab 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}



@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }
}

.create-quiz-button a {
  animation: pulse 2s infinite;
}

.create-quiz-button a:hover {
  transform: translateY(-2px);
  color: #000000;
  background-position: 100%;
  background-color: #ffffcc; /* Change background color on hover */
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  animation: none;
}