.quiz-results-container {
    text-align: center;
    color: aliceblue;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.score-animation, .total-score {
    font-size: 24px;
    margin: 20px 0;
}

.details h2 {
    margin-top: 30px;
}

.detail-item {
    text-align: left;
    margin-bottom: 15px;
}