<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime x Quiz - {{ title }}</title>
    <link rel="stylesheet" href="../static/styles/postsstyel.css">
    <link rel="stylesheet" href="../static/styles/alertmsg.css">

</head>
<body>
    <header>
        <div class="container">
            <h1>Anime x Quiz</h1>
            <nav>
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="/main/quiz">Quiz</a></li>
                    <li><a href="#">Create Quiz</a></li>
                    <li><a href="/main/posts">Posts</a></li>
                    <li><a href="/main/profile">Profile</a></li>
                    <div class="loginsignup">
                        <nav class="user-buttons">
                            <div class="user-button">
                                <button class="login"><a href="/login">Login</a></button>
                                <button class="signup"> <a href="{{ url_for('register_page') }}">Sign Up</a></button>
                            </div>
                        </nav>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/scripts.js"></script>
    {% include "footer.html" %}
</body>
</html>
